aiohttp
altair
beautifulsoup4
fuzzywuzzy
matplotlib
numpy
odfpy
openai
openpyxl
pandas
Pillow
playwright
plotly
pydeck
python-dotenv
requests
selenium
streamlit
streamlit-aggrid
streamlit-authenticator
tensorflow
webdriver-manager
websockets
xlrd
xlsxwriter
rapidfuzz
